[Unit]
Description=Run set_random_wallpaper script regularly
After=default.target

[Timer]
OnBootSec=30s
OnUnitActiveSec=5m
AccuracySec=1
RandomizedDelaySec=0
Unit=set_random_wallpaper.service

[Install]
WantedBy=default.target
